@use "@/scss/index" as *;

.hero {
  width: 100%;
  // padding: 2rem 0;

  color: $color-white;


  &_wrapper { background-color: $color-primary;
    width: 100%;
    max-width: map-get($breakpoints, xxl);
    padding: $spacing-xl 200px;
    margin: auto;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: $spacing-lg;

    h1 {
      font-size: useAdvanceClamp(350, 1140, 40, 56);
      line-height: useAdvanceClamp(350, 1140, 48, 54);
      letter-spacing: -0.15rem;
      font-weight: 500;
    }
  }
}
