@use "@/scss/index" as *;

.conversion {
  padding: 100px $spacing-md;

  &__container {
    max-width: $xl;
    margin: 0 auto;
    display: grid;
    gap: $spacing-xl;

    .header {
      margin-bottom: $spacing-md;
      display: flex;
      gap: $spacing-xl;

      @media (max-width: $container-lg) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: $spacing-md;
      }
    }

    .title {
      font-size: $font-size-xxl;
      letter-spacing: $letter-spacing-xs;
      color: $color-gray-800;
      font-weight: 400;
      text-align: right;
      max-width: $container-lg;
      line-height: 2.5rem;

      @media (max-width: $container-lg) {
        text-align: center;
        font-size: $font-size-xl;
      }
    }
  }

  &__content {
    display: grid;
    // display: flex;
    gap: $spacing-md;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));

    div:first-child {
      grid-column: span 3;
      max-height: 480px;

      @media (max-width: $container-xl) {
        grid-column: span 1;
      }
    }

    div:last-child {
      grid-column: span 2;

      @media (max-width: $container-xl) {
        grid-column: span 1;
      }
    }
  }
}
